<h1>Datakilder</h1>
<p>Her er en alfabetisk oversikt over de åpne datakildene vi tilbyr.</p>
<p>De fleste kan benyttes via et API som returnerer data på formatene XML eller JSON.</p>
<p>I tillegg til en kort beskrivelse av datakilden gir vi eksempler på hvordan man kan bruke den og linker til våre egne løsninger som benytter seg av datakilden.</p>
<h2>Ansatte/virksomheter</h2>
<p>Søkbar oversikt over ansatte og virksomheter i Telemark fylkeskommune.</p>
<p>Personer kan søkes frem vha fornavn, etternavn eller kombinasjon. Virksomheter kan søkes opp etter navn eller listes opp uten søk.</p>
<p>Gir bl.a. navn og kontaktinformasjon i retur.</p>
<a href="http://ws.t-fk.no/help/persons.html">
    <span class="glyphicon glyphicon-globe"></span> API ansatte
</a>
<a href="http://jsfiddle.net/telemark_fylkeskommune/2rvYX/">
    <span class="glyphicon glyphicon-globe"></span> JSFiddle
</a>
<a href="http://ws.t-fk.no/help/departments.html">
    <span class="glyphicon glyphicon-globe"></span> API virksomheter
</a>
<a href="http://jsfiddle.net/telemark_fylkeskommune/Bg2Fn/">
    <span class="glyphicon glyphicon-globe"></span> JSFiddle virksomheter
</a>
<a href="http://apps.t-fk.no/ansatte">
    <span class="glyphicon glyphicon-globe"></span> Web
</a>
<h2>Artikkelarkiv</h2>
<p>Artiklene fra nettsiden vår (www.telemark.no) i tidsrommet 2006 og frem til vi fikk ny webløsning i 2012.</p>
<p>Pr i dag er ikke løsningen søkbar, men alle artikler og indekser på årstall/kategorier er tilgjengelig på JSON-format.</p>

<a href="http://apps.t-fk.no/artikkelarkiv">
    <span class="glyphicon glyphicon-globe"></span> Web
</a>
<h2>Håndverksregisteret</h2>
<p>Søkbart register over håndverkere og håndverksbedrifter i Telemark</p>
<p>Kan søke på navn eller vise pr kommune.</p>
<p>Gir bl.a. navn, håndverksgren og kontaktinformasjon i retur.</p>
<a href="http://ws.t-fk.no/help/craftsman.html">
    <span class="glyphicon glyphicon-globe"></span> API
</a>
<a href="http://jsfiddle.net/telemark_fylkeskommune/TcYYZ/">
    <span class="glyphicon glyphicon-globe"></span> JSFiddle
</a>
<a href="http://apps.t-fk.no/handverkere">
    <span class="glyphicon glyphicon-globe"></span> Web
</a>
<h2>Ledige stillinger</h2>
<p>Søkbart register over våre ledige stillinger.</p>
<p>Søk på tittel eller vis alle</p>
<p>Gir bl.a. stillingstittel, publiseringsdato og søknadsfrist i retur.</p>
<a href="http://ws.t-fk.no/help/recruitments.html">
    <span class="glyphicon glyphicon-globe"></span> API
</a>
<a href="http://jsfiddle.net/telemark_fylkeskommune/jYpeq/">
    <span class="glyphicon glyphicon-globe"></span> JSFiddle
</a>
<a href="http://apps.t-fk.no/stillinger">
    <span class="glyphicon glyphicon-globe"></span> Web
</a>
<h2>Politikere</h2>
<p>Søkbart register over fylkespolitikerene våre fordelt på parti, utvalg og fylkesting.</p>
<p>Søk på navn, utvalg eller parti.</p>
<p>Gir bl.a. kontakinformasjon i retur.</p>
<a href="http://ws.t-fk.no/help/politicians.html">
    <span class="glyphicon glyphicon-globe"></span> API
</a>
<a href="http://jsfiddle.net/telemark_fylkeskommune/qfR6z/">
    <span class="glyphicon glyphicon-globe"></span> JSFiddle
</a>
<a href="http://apps.t-fk.no/politikere">
    <span class="glyphicon glyphicon-globe"></span> Web
</a>

<h2>Politiske saker</h2>
<p>Søkbart register over saker og dokumenter for de ulike politiske utvalgene våre.</p>
<a href="http://ws.t-fk.no/help/political.html">
  <span class="glyphicon glyphicon-globe"></span> API
</a>
<a href="http://jsfiddle.net/telemark_fylkeskommune/zut8f/">
  <span class="glyphicon glyphicon-globe"></span> JSFiddle
</a>
<a href="https://github.com/telemark/apps-tfk-politiskesaker">
  <span class="glyphicon glyphicon-globe"></span> GitHub
</a>
<a href="http://apps.t-fk.no/politisk">
  <span class="glyphicon glyphicon-globe"></span> Web
</a>

<h2>Postlister</h2>
<p>Søkbart register over postjournalen vår.</p>
<p>Søk på tittel eller dato.</p>
<p>Gir tilgang til siste 90 dagers postlister.</p>
<a href="http://ws.t-fk.no/help/mailinglists.html">
    <span class="glyphicon glyphicon-globe"></span> API
</a>
<a href="http://jsfiddle.net/telemark_fylkeskommune/Xku65/">
    <span class="glyphicon glyphicon-globe"></span> JSFiddle
</a>
<a href="http://apps.t-fk.no/postlister">
    <span class="glyphicon glyphicon-globe"></span> Web
</a>
<h2>Webstatistikk</h2>
<p>Data over webtrafikken til www.telemark.no, følgere i sosiale medier og oversikt over medieoppslag om Telemark fylkeskommune</p>
<p>Datakilden er et Google spreadsheet med en fane for hvert emne.</p>
<a href="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E">
    <span class="glyphicon glyphicon-globe"></span>  Datakilde (Google spreadsheet)
</a>
<a href="http://jsfiddle.net/telemark_fylkeskommune/tPzdK/">
    <span class="glyphicon glyphicon-globe"></span> JSFiddle
</a>
<a href="http://apps.t-fk.no/webstatistikk">
    <span class="glyphicon glyphicon-globe"></span> Web
</a>
<a href="https://github.com/telemark/apps-tfk-webstatistikk">
    <span class="glyphicon glyphicon-globe"></span> GitHub
</a>