<h1>Åpne data, deling og API</h1>

<p>
    Vi i Telemark fylkeskommune er helt i startgropen med disse fine tingene.
    Målet er selvsagt å dele mest mulig på en slik form at det blir lett for andre å dra nytte av det.
</p>
<p>
    Pr i dag har vi ikke landet helt på hvordan dette kommer til å bli til slutt.
    Vi må finne en god løsning for API som kan brukes i flest mulige tilfeller.
    Vi må få på plass gode rutiner for dokumentasjon, testing og oppdateringer.
    Vi må finne ut hva vi kan dele, bør dele og burde ha delt.
    Med andre ord en rekke avgjørelser som vil kunne ta skrekkelig lang tid.
    Vi fant til slutt ut at vi heller deler det vi har fortløpende.
    Da kommer vi raskere i gang det er jo ikke noe i veien for å oppdatere informasjonen fortløpende.
</p>
<p>
    Det du vil finne her er en oversikt over hvilke <a href="#/datakilder">datakilder</a> vi har gjort tilgjengelig, linker til hjelp, beskrivelser for hvordan kildene kan brukes.
    Alt her brukes også av oss selv i ulike former og vi peker deg til våre egne løsninger.
</p>
<p>
    Det blir litt uformelt, litt fort og gæli, litt ustabilt, men forhåpentligvis mest gøy.
</p>
<p>
    Dette er ikke beta... kanskje mer en lab :-)
</p>