
    <div class="col-lg-9">
        <h1>Personvernerklæring</h1>

        <div class="lead">
            Les om hvordan Telemarks fylkeskommune samler inn og bruker informasjon om besøkende på våre nettsteder.
        </div>

        <h2>Bruk av Google Analytics</h2>

        <div>
            En del av arbeidet med å lage et brukervennlig nettsted, er å studere brukermønsteret til de som besøker nettstedet.
        </div>
        <div>
            <p>
            For å analysere informasjonen, bruker vi analyseverktøyet Google Analytics. Verktøyet benytter informasjonskapsler/cookies, som registrerer brukernes IP-adresse, og som gir informasjon om den enkelte brukers bevegelser på nett.
            </p>
            <p>
            Eksempler på hva statistikken gir oss svar på er; hvor mange som besøker ulike sider, hvor lenge besøket varer, hvilke nettsteder brukerne kommer fra og hvilke nettlesere som benyttes. Ingen av informasjonskapslene gjør at vi kan knytte informasjon om din bruk av nettstedet til deg som enkeltperson.
            </p>
            <p>
            Informasjonen fra Google Analytics lagres på Googles servere i USA. Mottatte opplysninger er underlagt <a
            href="http://www.google.com/intl/no/policies/privacy/" target="_blank"><span class="glyphicon glyphicon-globe"></span> Googles retningslinjer for personvern</a>.
            </p>
            <p>
            En IP-adresse er definert som en personopplysning fordi den kan spores tilbake til en bestemt maskinvare og dermed til en enkeltperson. Derfor bruker vi et script (kode) som fjerner de siste sifrene fra IP-adressen før informasjonen lagres av Google. Dermed kan ikke den lagrede IP-adressen brukes til å identifisere den enkelte brukeren.
            </p>
        </div>
</div>

<div class="col-lg-3">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Les mer om cookies</h3>
    </div>
    <div class="panel-body">
        <p><a href="http://www.nettvett.no/personvern/informasjonskapsler-cookies/slik-avviser-du-informasjonskapsler-cookies" target="_blank" title="Les om hvordan du avviser cookies på nettstedet nettvett.no"><span class="glyphicon glyphicon-globe"></span> Slik avviser du cookies</a> (fra nettvett.no)</p>
        <p><a href="http://www.nettvett.no/personvern/informasjonskapsler-cookies/slik-sletter-du-informasjonskapsler-cookies" target="_blank" title="Les om hvordan du sletter cookies på nettstedet nettvett.no"><span class="glyphicon glyphicon-globe"></span> Slik sletter du cookies</a> (fra nettvett.no)</p>
    </div>
</div>
</div>

<div class="clearfix"></div>