<h1>Ressurser</h1>
<p></p>
<h2>API</h2>
<p>Dette er oversikten over vårt nåværende API.</p>
<p>En ting som er helt sikkert er at den vil bli byttet ut etterhvert.</p>
<p>Du må gjerne leke deg alt du kan med det, men om du ønsker å bli informert om endringer eller kanskje til og med få bli med på å teste en ny løsning så send noen ord til <a href="mailto:geir.gasodden@t-fk.no"><span class="glyphicon glyphicon-envelope"></span> geir.gasodden@t-fk.no</a></p>
<a href="http://ws.t-fk.no/help/index.html"><span class="glyphicon glyphicon-globe"></span> Oversikt over nåværende API</a>
<h2>GitHub</h2>
<p>Hmmmm... dette er kanskje vår dårligste samvittighet. Vi har pr dags dato ikke delt noe offentlig på GitHub.</p>
<p>Men, jeg lover at etterhvert som alle løsningene vi lager basert på egne, åpne data oppdateres så skal vi legge de ut.</p>
<a href="https://github.com/telemark"><span class="glyphicon glyphicon-globe"></span> Våre repos på GitHub</a>
<h2>JSFiddle</h2>
<p>Et strålende verktøy for å raskt sette sammen html, js og css til for eksempel demonstrasjoner.</p>
<p>Vi har lagt ut eksempler på JSFiddle for hvordan man kan bruke alle APIene våre.</p>
<a href="http://jsfiddle.net/user/telemark_fylkeskommune/fiddles/"><span class="glyphicon glyphicon-globe"></span> Alle våre offentlige fiddles</a>
<h2>Verktøy</h2>
<p>
    Godt verktøy er halve jobben. På dette nettstedet har vi benyttet oss av følgende perler:</p>
Rammeverkene <a href="http://angularjs.org/"><span class="glyphicon glyphicon-globe"></span> AngularJS</a> og <a href="http://twitter.github.com/bootstrap/"><span class="glyphicon glyphicon-globe"></span> Twitter bootstrap</a> og arbeidsflyt-trioen
<a href="http://yeoman.io/"><span class="glyphicon glyphicon-globe"></span> Yeoman</a>, <a href="http://gruntjs.com/"><span class="glyphicon glyphicon-globe"></span> Grunt</a> og <a href="http://twitter.github.com/bower/"><span class="glyphicon glyphicon-globe"></span> Bower</a>

</p>